{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Projects within a community {{ community.name }} {% endblock %}</h1>
    </span>
    <div class="projects">
        <h2>Projects Blueprint</h2>
        <div class="projects">

            <div class="projects-list">
                {% for project in projects %}
                    <div class="project">
                        <h4>{{ project.content }}</h4>
                        <p>{{ project.plan }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}