{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Community Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the Community Flask blueprint</h2>
        {% for community in communities %}
            <div class="post">
                <p><b>#{{ community.id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ community.name }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ community.content }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}