/* Game Elements */
.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
  }
  
.canvas-container {
    width: 100%; /* Set your desired width */
    height: 100vh; /* Set your desired height */
    border: 1px solid #000; /* Add a border for visibility */
    background-color: white; /* Set your desired background color */
    position: relative; /* Needed for absolute positioning of the canvas */
}