/* Game Elements */
.game-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid black;
}

/* Banner */
.game-banner-container {
  position: absolute;
  width: 30%;
  height: 22.3%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-image: url('/images/WoodenSign.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.game-banner {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  color: #204811;
  font-size: 170%;
  text-align: center;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Chat Box */
.overlay-box {
  position: absolute;
  background-color: rgb(173, 115, 81);
  border: 2px solid #000;
  border-radius: 50px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 75%;
  top: 10%;
  z-index: 3;
}

.right-overlay {
  right: 6.5%;
}
.overlay-title {
  text-align: center;
  border-bottom: 2px solid #551313;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}



/* Buttons */
.game-button-container {
  display: flex;
  /* background-color: #000; */
  /* display: inline-flex; */
  position: absolute;
  align-items: center;

  height: 10%;
  bottom: 2.5%;
  right: 7.5%;
  transform: translate(0%, 0%);
  z-index: 3;
  background-size: 100%;
  background-repeat: no-repeat;

  margin: 5px;
}
.b1 {
  width: 80px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border: 3px solid #204811; /* Add a border with the desired color */
  color: #204811;
  border-radius: 25px 0px 0px 25px; /* Makes the button circular */
  background-color: rgb(106, 153, 75);
  font-size: 360%;
  line-height: 20px; 
  align-items: center;
}

.b2 {
  width: 80px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border: 3px solid #204811; /* Add a border with the desired color */
  color: #204811;
  border-radius: 0px 25px 25px 0px; /* Makes the button circular */
  background-color: rgb(106, 153, 75);
  font-size: 360%;
  line-height: 20px; 
  align-items: center;
}

.b3 {
  margin: 0 0 0 5px;
  width: 80px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border: 3px solid #204811; /* Add a border with the desired color */
  color: #204811;
  border-radius: 25px 0px 0px 25px; /* Makes the button circular */
  background-color: rgb(106, 153, 75);
  font-size: 360%;
  line-height: 20px; 
  align-items: center;
}

.b4 {
  width: 80px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border: 3px solid #204811; /* Add a border with the desired color */
  color: #204811;
  border-radius: 0px 25px 25px 0px; /* Makes the button circular */
  background-color: rgb(106, 153, 75);
  font-size: 360%;
  /* line-height: -10px;  */
  align-items: center;
  /* justify-content: center; Horizontally center the text */
  /* align-items: center; Vertically center the text   */
  /* margin-top: -10px; */
  
  /* text-align: center; Center the text horizontally */
  /* position: relative; Create a positioning context for the text */

}

.canvas-container {
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  background-color: white;
  position: relative;
}