/* Map Elements */
.map-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container1 {
    width: 100%;
    height: 100vh;
}

.overlay-box {
    position: absolute;
    background-color: rgb(173, 115, 81);
    border-radius: 150px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 75%;
    top: 12.5%;
    z-index: 1;
}

.left-overlay {
    left: 5%;
}

.right-overlay {
    right: 5%;
}

.overlay-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.side-list {
    margin-left: 20%;
    margin-top: 10px;
    list-style: none;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /*Add margin for spacing*/
}

.toggle-container {
    display: flex;
    align-items: center;
}

.item-name {
    /* Add any styles you need for the item name, such as margin or padding */
    font-size: 1.5rem;
    margin: 0px;
    /* Adjust for spacing */
    margin-left: 10px;
    /* Adjust for spacing */
}

.toggle-button {
    /* Styles for the circle container, you can adjust size and other properties */
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle {
    /* Styles for the circle element, including the background color */
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.filled .circle {
    background-color: rgb(0, 221, 0);
    /* Change to your desired filled color */
}

.unfilled .circle {
    background-color: rgb(69, 69, 69);
    /* Change to your desired unfilled color */
}

.additional-info {
    /* Add any styles you need for the additional info */
    margin-top: 5px;
    /* Adjust the margin to control spacing between title and info */
    margin-left: 25px;
}