/* Map Elements */
.map-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-banner-container {
    position: absolute;
    width: 30%;
    height: 22.3%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 13%);
    z-index: 2;
    background-image: url('/images/WoodenSign2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.map-banner {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    color: #204811;
    font-size: 170%;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Container for google maps display */
.map-container1 {
    width: 100%;
    height: 100vh;
}

/* General overlay box styling */
.overlay-box {
    position: absolute;
    background-color: rgb(173, 115, 81);

    border: 2px solid #000;
    border-radius: 50px;
    /* Set the border-radius as a percentage of the width */

    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 75%;
    top: 12.5%;
    z-index: 1;
}

/* FOr left overlay */
.left-overlay {
    left: 5%;
}

/* For right overlay */
.right-overlay {
    right: 5%;
}

/* Style overlay titles */
.overlay-title {
    text-align: center;
    color: #2c0000;;
    border-bottom: 2px solid #551313;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    padding-bottom: 0.5rem;
}