{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Projects {% endblock %}</h1>
    </span>
    <div class="projects">
        <h2>Projects Blueprint</h2>
        <div class="projects">
            <div class="new-projects">
                <form method="POST">
                    <p>
                        <textarea id="q-content"
                                name="title"
                                placeholder="Project"
                                cols="30" rows="3"></textarea>
                    </p>
                        <textarea id="q-answer"
                                name="plan"
                                placeholder="Plan"
                                cols="30" rows="3"></textarea>
                        <textarea id="q-id"
                                name="community_id"
                                placeholder="communitiy_id"
                                cols="30" rows="3"></textarea>
                    <p><input type="submit"></p>
                </form>
            </div>
            <div class="projects-list">
                {% for project in projects %}
                    <div class="project">
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.plan }}</p>
                        <p>{{ project.community_id }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}